header {
    height: 100vh;
}

.header__container {
    margin-top: 10rem;
    display: block;
    font-size: 5rem;
}

.header__scroll {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 0.8rem;
}

.header__scroll-icon {
    font-size: 2rem;
}

.header__socials {
    margin-top: 1rem;
    display: flex;
    gap: 0.8rem;
}

.header__socials a {
    font-size: 2rem;
}

.CTA {
    font-size: 0.9rem;
}

@media screen and (max-width: 1024px) {
    .header__container {
        font-size: 4rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 4rem;
    }

    .header__scroll {
        margin-top: 2rem;
    }
}

@media screen and (max-width: 600px) {
    .header__container {
        margin-top: 8rem;
        font-size: 3rem;
    }

}